---
layout: archive
title: " "
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my maunscripts on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}



<div class="page__inner-wrap">
  <header>
    <h1 class="page__title" itemprop="headline">Publications</h1>
  </header>
  <section class="page__content" itemprop="text">
     <h2 id="-selected-publications-more">📋 Selected Publications [<a href="https://github.com/ChunfengDu">More]</a></h2>
     <ol>
      <li>
        <strong style="color: rgba(255, 0, 0, 0.871);">[HPCA]</strong>
        <u>Chunfeng Du</u>, Suzhen Wu, Jiapeng Wu, Bo Mao, and Shengzhe Wang.
        <strong><em>ESD: An ECC-assisted and Selective Deduplication for Non-Volatile Main Memory.</em></strong>
        <em>Proceedings of the 27th IEEE International Symposium on High-Performance Computer Architecture,</em>
        <em>Montreal, QC, Canada, February 25–March 01, 2023.</em>
        [<a href="http://academicpages.github.io/files/ESD(HPCA2024).pdf">PDF</a>, <a href="http://academicpages.github.io/files/ESD(HPCA2024).pdf">Slides</a>]
      </li>
      
     </ol>

  </section>
</div>


<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



