---
layout: archive
title: " "
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my maunscripts on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<!-- {% include base_path %} -->

<div class="page__inner-wrap">
  <header>
    <h1 class="page__title" itemprop="headline">Publications</h1>
  </header>
  <section class="page__content" itemprop="text">
    <h2 id="-news">📢 News</h2>
    <ul>
      <li> 
        <strong>[2024]</strong>I have owned a <em> new paper in</em> HPCA 2024.
      </li>
    </ul>
    
    <h2 id="-selected-publications-more">📋 Selected Publications [<a href="https://github.com/ChunfengDu">More]</a></h3>
     <ol>
      <li>
        <strong style="color: rgba(255, 0, 0, 0.871);">[IEEE-HPCA]</strong>
        <u>Chunfeng Du</u>, Suzhen Wu, Jiapeng Wu, Bo Mao, and Shengzhe Wang.
        <strong><em>ESD: An ECC-assisted and Selective Deduplication for Non-Volatile Main Memory.</em></strong>
        <em>Proceedings of the 27th IEEE International Symposium on High-Performance Computer Architecture,</em>
        Montreal, QC, Canada, February 25–March 01, 2023.
        [<a href="http://academicpages.github.io/files/ESD(HPCA2024).pdf">PDF</a>, <a href="http://academicpages.github.io/files/ESD(HPCA2024).pdf">Slides</a>]
      </li>
      <li>
        <strong style="color: rgba(255, 0, 0, 0.871);">[ACM-TOS]</strong>
        <u>Chunfeng Du</u>, Zihang Lin, Suzhen Wu, Yifei Chen, Jiapeng Wu, Shengzhe Wang, Weichun Wang, Qingfeng Wu, and Bo Mao.
        <strong><em>FSDedup: Feature-Aware and Selective Deduplication for Improving Performance of Encrypted Non-Volatile Main Memory.</em></strong>
        <em>ACM Transcations Storage.</em>
        20(4):1-33. Aug. 2024.
        [<a href="http://academicpages.github.io/files/FSDedup(TOS2024).pdf">PDF</a>]  
      </li>
      <li>
        <strong style="color: rgba(255, 0, 0, 0.871);">[IEEE-MSST]</strong>
        <u>Chunfeng Du</u>, Shengzhe Wang, Bo Mao, Hong Jiang, Suzhen Wu, Jiahong Chen, Yingchao Ji.
        <strong><em>LodgeTree: A Last-Level Distributed and Surrogate Buffer Tree for Non-Volatile Memories.</em></strong>
        <em>Proceedings of the 38th International Conference on Massive Storage Systems and Technology,</em>
        Santa Clara, USA, June 3-7, 2024.
        [<a href="http://academicpages.github.io/files/LodgeTree(MSST2024).pdf">PDF</a>, <a href="http://academicpages.github.io/files/ESD(HPCA2024).pdf">Slides</a>]
      </li>
      <li>
        <strong style="color: rgba(255, 0, 0, 0.871);">[IEEE-TC]</strong>
        Suzhen Wu, <u>Chunfeng Du</u>, Weiwei Zhang, Bo Mao, and Hong Jiang.
        <strong><em>DedupHR: Exploiting Content Locality to Alleviate Read/Write Interference in Deduplication-based Flash Storage.</em></strong>
        <em>IEEE Transactions on Computers.</em>
        71(6): 1332-1343. June 2022.
        [<a href="http://academicpages.github.io/files/DedupHR(TC2023)">PDF</a>]
      </li>
      <li>
        <strong style="color: rgba(255, 0, 0, 0.871);">[IEEE-TC]</strong>
        Suzhen Wu, <u>Chunfeng Du</u>, Weidong Zhu, Hong Jiang, Bo Mao, and Lingfang Zeng.
        <strong><em>EaD: ECC-assisted Deduplication with High Performance and Low Memory Overhead for Ultra-Low Latency Flash Storage.</em></strong>
        <em>IEEE Transactions on Computers.</em>
        72(1): 208-221. January 2023.
        [<a href="http://academicpages.github.io/files/EaD(TC2022)">PDF</a>]
      </li>
      <li>
        <strong style="color: rgba(255, 0, 0, 0.871);">[IEEE-IPDPS]</strong>
        Suzhen Wu, <u>Chunfeng Du</u>, Haijun Li, Hong Jiang, Zhirong Shen, and Bo Mao.
        <strong><em>CAGC: A Content-aware Garbage Collection Scheme for Ultra-Low Latency Flash-based SSDs.</em></strong>
        <em>Proceedings of 35th IEEE International Parallel & Distributed Processing Symposium,</em>
        Virtual Conference, May 17-21, 2021.
        [<a href="http://academicpages.github.io/files/CAGC(IPDPS2021).pdf">PDF</a>, <a href="http://academicpages.github.io/files/ESD(HPCA2024).pdf">Slides</a>]
      </ol>
      
  </section>
</div>